[submodule "polybar/git/polybar-scripts"]
	path = polybar/git/polybar-scripts
	url = https://github.com/polybar/polybar-scripts
[submodule "nvim/.config/nvim/dap/vscode-node-debug2"]
	path = nvim/.config/nvim/dap/vscode-node-debug2
	url = https://github.com/microsoft/vscode-node-debug2.git
[submodule "nvim/.config/nvim/dap/vscode-chrome-debug"]
	path = nvim/.config/nvim/dap/vscode-chrome-debug
	url = https://github.com/Microsoft/vscode-chrome-debug
[submodule "nvim/.config/nvim/snippets/vscode-angular-snippets"]
	path = nvim/.config/nvim/snippets/vscode-angular-snippets
	url = https://github.com/johnpapa/vscode-angular-snippets.git
