#tags {
    margin: 2px 0;
}

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack,  "FiraCode Nerd Font",Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    color: #f8f8f2;
    /* background: #282a36; */
}


#tags button  {
    background-color: #2e2c2f;
    padding: 6px;
    border-radius: 10px;
    
}
window#waybar {
    /* background-color: #161417; */
    background: transparent;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags button.occupied  {
    background-color: #44475a;

}

#tags button.focused  {
    background-color: #6272a4; 
}

#pulseaudio,
#backlight,
#temperature,
#battery,
#clock,
#cpu,
#memory,
#network,
#tray
{
    padding: 0 10px;
    margin: 2px 0;
    background: #2e2c2f; 
    /* border-radius: 10px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}

#tray {
    border-radius: 16px;
}

#clock {
    border-radius: 0 16px 16px 0;
    /* padding-right: 20px; */
    /* margin-right: 20px; */
}

#pulseaudio {
    border-radius: 20px 0 0 20px;
}

#battery {
    color: #88b18f; 
}

#clock {
    color: #489ca5;
}

#cpu {
    color: #8c6aa8
}
#memory {
    color: #ff79c6; 
}
#network {
    color: #ffb86c; 
}
/* #tray { */
/*     margin-left: 10px; */
/* } */
